body {
  position: relative;
  line-height: 1.5;
  font-family: 'Quicksand';
  margin: 0;
  &.index {
    @include media-tablet-up {
      display: flex;
      align-items: center;
      flex-direction: row;
      overflow: hidden;
      background-image: url('../images/bg.jpg');
      background-size: cover;
      background-position: center bottom;
      &:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background-color: rgba($color-black, .3);
      }
    }
  }
}

.o-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.o-article {
  background: $color-white;
  max-height: 100%;
  overflow-y: auto;
}

.o-article__content {
  padding: 16px;
  display: flex;
  flex-direction: column-reverse;
  @include media-tablet-up {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-column-gap: 12px;
  }
}

.o-article__image {
  margin-bottom: 16px;
  @include media-tablet-up {
    margin-bottom: 0;
  }
}

.o-article__nav {
  margin-top: 16px;
}

.o-article__list {
  list-style: disc;
  margin: 12px 0;
  padding-left: 18px;
}

.o-scrollColsPage {
  overflow-y: hidden;
}

.o-scrollCols {
  display: flex;
}

.o-scrollCol {
  width: 33.33%;
  height: calc(100vh - 150px);
  overflow: hidden;
}

.c-link {
  display: inline;
  position: relative;
  color: $color-blue;
  text-decoration: none;
  @include media-tablet-up {
    &::before {
      content: '';
      width: 0%;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: $color-blue;
      opacity: 0;
      transition: all .3s ease;
    }
    &:hover {
      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  }
}

.c-header {
  position: relative;
  text-align: center;
  padding: 20px 0;
}

.c-header__heading {
  margin-top: 0;
}

.c-header__checkbox {
  margin: 0;
  margin-right: 10px;
}

.c-header__options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.c-footer {
  background-color: #607d8b;
  color: black;
  padding: 50px;
  min-height: 400px;
}

.c-footer__inner {
  max-width: 1280px;
  margin: 0 auto;
}

.u-blockImg {
  display: block;
  width: 100%;
}